.paquetes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.pack-contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $font1;
    color: black;
}

.packs {
    font-family: $font1;
    font-weight: 400px;
    font-size: 70px;
    text-align: center;
    color: $color4;
    margin-bottom: -10px;
}

.subtitulo-packs {
    color: #9a8c98b1;
    text-align: center;
    text-transform: uppercase;
}


button{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #7D7C7A;
    color: black;
    font-family: $font1;
}
button:hover{
    color: #5B5B5B;
}
.packs img{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-around;
    height: 200px;
    box-shadow: 0px 0px 2px 5px #C9C19F;
    margin: 20px;
}
    button{
        color: black;
        font-family: $font1;
        font-size: 10px;
        padding: 5px 10px;
        border-radius: 5px;
    }
    button:hover{
        color: #5B5B5B;
    }
